
@keyframes hideTextLeft {
	0% {
		transform:translate3d(0,0,0);
		opacity:1;
	}
	to {
		transform:translate3d(calc(-100% - 551px),0,0);
		opacity:1;
	}

}
@keyframes hideTextToRight {
	0% {
		transform:translate3d(0,0,0);
		opacity:1;
	}
	to {
		transform:translate3d(100%,0,0);
		opacity:1;
	}

}
@keyframes revealTextFromRight {
	0% {
		transform:translate3d(100%,0,0);
		opacity:0;
	}
	to {
		transform:translate3d(0,0,0);
		opacity:1;
	}

}
@keyframes revealTextFromLeft {
	0% {
		transform:translate3d(calc(-100% - 551px),0,0);
		opacity:0;
	}
	to {
		transform:translate3d(0,0,0);
		opacity:1;
	}

}
@keyframes revealText {
	0% {
		transform:translate3d(0,125%,0);
		opacity:0;
	}
	to {
		transform:translate3d(0,0%,0);
		opacity:1;
	}

}
@keyframes hideText {
	0% {
		transform:translate3d(0,0%,0);
		opacity:1;
	}
	to {
		transform:translate3d(0,125%,0);
		opacity:1;
	}

}
@keyframes bounce {
	0%,20%,60%,80%,to {
		transform:translateY(0);
	}
	40% {
		transform:translateY(-10px);
	}
	50% {
		transform:translateY(5px);
	}

}
@keyframes floating {
	0%,to {
		transform: translate(0%,-50%)
	}

	25% {
		transform: translate(5px,calc(-50% + 15px))
	}

	50% {
		transform: translate(10px,calc(-50% + 5px))
	}

	75% {
		transform: translate(0%,calc(-50% + 15px))
	}
}
@-webkit-keyframes floating {
	0%,to {
		transform:translate(0%,-50%);
	}
	25% {
		transform:translate(5px,calc(-50% + 15px));
	}
	50% {
		transform:translate(10px,calc(-50% + 5px));
	}
	75% {
		transform:translate(0%,calc(-50% + 15px));
	}
}
@-moz-keyframes  floating {
	0%,to {
		transform:translate(0%,-50%);
	}
	25% {
		transform:translate(5px,calc(-50% + 15px));
	}
	50% {
		transform:translate(10px,calc(-50% + 5px));
	}
	75% {
		transform:translate(0%,calc(-50% + 15px));
	}
}
@keyframes rubberBand {
	0%,to {
		-webkit-transform:scaleX(1);
		transform:scaleX(1);
	}
	3% {
		-webkit-transform:scale3d(1.25,.75,1);
		transform:scale3d(1.25,.75,1);
	}
	20% {
		-webkit-transform:scale3d(.75,1.25,1);
		transform:scale3d(.75,1.25,1);
	}
	40% {
		-webkit-transform:scale3d(1.15,.85,1);
		transform:scale3d(1.15,.85,1);
	}
	55% {
		-webkit-transform:scale3d(.95,1.05,1);
		transform:scale3d(.95,1.05,1);
	}
	75% {
		-webkit-transform:scale3d(1.05,.95,1);
		transform:scale3d(1.05,.95,1);
	}
}
@keyframes heartbeat {
	50% {
		transform:scale(1.1);
	}
}
@keyframes rainbow {
	0% {
		background:#1abc9c;
	}
	10% {
		background:#2ecc71;
	}
	20% {
		background:#3498db;
	}
	30%,80% {
		background:#9b59b6;
	}
	40% {
		background:#e74c3c;
	}
	50% {
		background:#e67e22;
	}
	60% {
		background:#f1c40f;
	}
	70% {
		background:#2c3e50;
	}
}


@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10%);
       -moz-transform: translateY(10%);
         -o-transform: translateY(10%);
            transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
       -moz-transform: translateY(0);
         -o-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bean1 {
	0%, to {
		transform:translate(0%,0%);
	}
	25% {
		transform: translate(5px, calc(0% + 15px));
	}
	50% {
		transform: translate(10px, calc(0% + 5px));
	}
	75% {
		transform: translate(0%, calc(0% + 15px));
	}
}

@keyframes bean2 {
	0%, to {
		transform:translate(0%,0%);
	}
	25% {
		transform: translate(5px, calc(0% - 15px));
	}
	50% {
		transform: translate(10px, calc(0% - 5px));
	}
	75% {
		transform: translate(0%, calc(0% - 15px));
	}
}


@keyframes bean3 {
	0%, to {
		transform:translate(0%,0%);
	}
	30% {
		transform:translate(calc(0% + 5px),calc(0% - 15px));
	}
	50% {
		transform:translate(calc(0%), calc(0% - 5px));
	}
	70% {
		transform:translate(calc(0% - 15px),calc(0% + 15px));
	}
	95% {
		transform:translate(calc(0%),calc(0%));
	}
	100% {
		transform:translate(0%,0%);
	}
}

@keyframes pumping {
	0%,50%,to {
		transform:scale(1);
	}
	25%,75% {
		transform:scale(1.05);
	}
}


.divBeanOn {
	animation-name: pumping;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-delay:0s;
}

.divBean1 {
	animation-name: reveal, bean1;
	animation-duration: 1s, 10s;
	animation-iteration-count: 1, infinite;
	animation-delay:0s, 0s;
}
.divBean2 {
	animation-name: reveal, bean2;
	animation-duration: 1s, 10s;
	animation-iteration-count: 1, infinite;
	animation-delay:0s, 0s;
}
.divBean3 {
	animation-name: reveal, bean3;
	animation-duration: 1s, 10s;
	animation-iteration-count: 1, infinite;
	animation-delay:0s, 0s;
}


.animate-reveal {
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0;
  -webkit-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
     -moz-animation: reveal 1s ease-in 1 normal forwards;
       -o-animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
          animation: reveal 1s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}

.animate01 {
  -webkit-animation-delay: 0;
     -moz-animation-delay: 0;
       -o-animation-delay: 0;
          animation-delay: 0;
}

.animate02 {
  -webkit-animation-delay: 500ms;
     -moz-animation-delay: 500ms;
       -o-animation-delay: 500ms;
          animation-delay: 500ms;
}

.animate03 {
  -webkit-animation-delay: 1s;
     -moz-animation-delay: 1s;
       -o-animation-delay: 1s;
          animation-delay: 1s;
}

.animate04 {
  -webkit-animation-delay: 1.5s;
     -moz-animation-delay: 1.5s;
       -o-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.animate05 {
  -webkit-animation-delay: 2s;
     -moz-animation-delay: 2s;
       -o-animation-delay: 2s;
          animation-delay: 2s;
}

.animate06 {
  -webkit-animation-delay: 2.5s;
     -moz-animation-delay: 2.5s;
       -o-animation-delay: 2.5s;
          animation-delay: 2.5s;
}

.animate07 {
  -webkit-animation-delay: 3s;
     -moz-animation-delay: 3s;
       -o-animation-delay: 3s;
          animation-delay: 3s;
}

.animate08 {
  -webkit-animation-delay: 3.5s;
     -moz-animation-delay: 3.5s;
       -o-animation-delay: 3.5s;
          animation-delay: 3.5s;
}

.animate09 {
  -webkit-animation-delay: 4s;
     -moz-animation-delay: 4s;
       -o-animation-delay: 4s;
          animation-delay: 4s;
}

.animate10 {
  -webkit-animation-delay: 4.5s;
     -moz-animation-delay: 4.5s;
       -o-animation-delay: 4.5s;
          animation-delay: 4.5s;
}


